
{% extends 'main.html' %}

{% block conten %}

    <h1>Projects</h1>
    <table>
        <tr>
            <th>Project</th>
            <th>Positive Votes</th>
            <th>Votes</th>
            <th>Created</th>
        </tr>
        {% for proj in projs %}
            <tr>
                <td>{{proj.title}}</td>
                <td>{{proj.vote_ratio}}%</td>
                <td>{{proj.vote_total}}</td>
                <td>{{proj.created}}</td>
                <td><a href="{% url 'updateproject' proj.id %}">Edit</a></td>
                <td><a href="{% url 'deleteproject' proj.id %}">Delete</a></td>
                <td><a href="{% url 'project' proj.id %}">View</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock conten %}