
{% extends 'main.html' %}

{% block conten %}
<main class="inbox my-xl">
    <div class="content-box">
      <h3 class="inbox__title">Unread Messages(<span>{{unreadmessagescount}}</span>)</h3>
      <ul class="messages">

        {% for profmessage in profmessages %}
            {% if profmessage.is_read %}
            <li class="message">
            {% else %}
            <li class="message message--unread">
            {% endif %}
            <a href="{% url 'message' profmessage.id %}">
                <span class="message__author">{{profmessage.name}}</span>
                <span class="message__subject">{{profmessage.subject}}</span>
                <span class="message__date">{{profmessage.created}}</span>
            </a>
            </li>
        {% endfor %}

      </ul>
    </div>
  </main>
{% endblock conten %}